Game3D/Lapr5/Lapr5/XMLFiles_WS/DataModel.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wvm023.dei.isep.ipp.pt/GameWS/GameWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="FriendshipList" nillable="true" type="q1:ArrayOfTupleOfintdateTimeTag2Xw_Sbs0H" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="FriendshipRequestList" nillable="true" type="q2:ArrayOfTupleOfintdateTime" />
      <xs:element minOccurs="0" name="IdPermission" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RelationshipRequestNegociation" nillable="true" type="q3:ArrayOfTupleOfintArrayOfGameRequestDj_S7S2QP" />
      <xs:element minOccurs="0" name="UserTags" nillable="true" type="tns:ArrayOfTag" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdTag" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="ArrayOfGameRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameRequest" nillable="true" type="tns:GameRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameRequest" nillable="true" type="tns:ArrayOfGameRequest" />
  <xs:complexType name="GameRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Game">
        <xs:sequence>
          <xs:element minOccurs="0" name="Difficulty" type="xs:int" />
          <xs:element minOccurs="0" name="Status" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GameRequest" nillable="true" type="tns:GameRequest" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGame" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="ArrayOfTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" nillable="true" type="tns:Tag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTag" nillable="true" type="tns:ArrayOfTag" />
</xs:schema>