Game3D/Lapr5/Lapr5/XMLFiles_WS/GameWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserType" nillable="true" type="tns:UserType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserType" nillable="true" type="tns:ArrayOfUserType" />
  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendshipList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendshipRequestList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="MoodState" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="RelationshipRequestNegociation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="ArrayOfDict">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dict" nillable="true" type="tns:Dict" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDict" nillable="true" type="tns:ArrayOfDict" />
  <xs:complexType name="Dict">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdDict" type="xs:int" />
      <xs:element minOccurs="0" name="TagsUsed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Word" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dict" nillable="true" type="tns:Dict" />
</xs:schema>