Game3D/Lapr5/Lapr5/XMLFiles_WS/tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wvm023.dei.isep.ipp.pt/GameWS/GameWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wvm023.dei.isep.ipp.pt/GameWS/GameWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wvm023.dei.isep.ipp.pt/GameWS/GameWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameWS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameWebService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_loadUserNetwork_InputMessage">
    <wsdl:part name="parameters" element="tns:loadUserNetwork" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_loadUserNetwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:loadUserNetworkResponse" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_loadUserNetwork_NR_InputMessage">
    <wsdl:part name="parameters" element="tns:loadUserNetwork_NR" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_loadUserNetwork_NR_OutputMessage">
    <wsdl:part name="parameters" element="tns:loadUserNetwork_NRResponse" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_loadUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:loadUserById" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_loadUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:loadUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_changeUserPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:changeUserPoints" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_changeUserPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:changeUserPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_changeMoodState_InputMessage">
    <wsdl:part name="parameters" element="tns:changeMoodState" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_changeMoodState_OutputMessage">
    <wsdl:part name="parameters" element="tns:changeMoodStateResponse" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_doNegociationGameComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:doNegociationGameComplete" />
  </wsdl:message>
  <wsdl:message name="IGameWebService_doNegociationGameComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:doNegociationGameCompleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameWebService">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameWebService/login" message="tns:IGameWebService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameWebService/loginResponse" message="tns:IGameWebService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loadUserNetwork">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameWebService/loadUserNetwork" message="tns:IGameWebService_loadUserNetwork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameWebService/loadUserNetworkResponse" message="tns:IGameWebService_loadUserNetwork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loadUserNetwork_NR">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameWebService/loadUserNetwork_NR" message="tns:IGameWebService_loadUserNetwork_NR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameWebService/loadUserNetwork_NRResponse" message="tns:IGameWebService_loadUserNetwork_NR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loadUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameWebService/loadUserById" message="tns:IGameWebService_loadUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameWebService/loadUserByIdResponse" message="tns:IGameWebService_loadUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="changeUserPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameWebService/changeUserPoints" message="tns:IGameWebService_changeUserPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameWebService/changeUserPointsResponse" message="tns:IGameWebService_changeUserPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="changeMoodState">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameWebService/changeMoodState" message="tns:IGameWebService_changeMoodState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameWebService/changeMoodStateResponse" message="tns:IGameWebService_changeMoodState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doNegociationGameComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameWebService/doNegociationGameComplete" message="tns:IGameWebService_doNegociationGameComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameWebService/doNegociationGameCompleteResponse" message="tns:IGameWebService_doNegociationGameComplete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameWebService" type="tns:IGameWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IGameWebService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadUserNetwork">
      <soap:operation soapAction="http://tempuri.org/IGameWebService/loadUserNetwork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadUserNetwork_NR">
      <soap:operation soapAction="http://tempuri.org/IGameWebService/loadUserNetwork_NR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadUserById">
      <soap:operation soapAction="http://tempuri.org/IGameWebService/loadUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeUserPoints">
      <soap:operation soapAction="http://tempuri.org/IGameWebService/changeUserPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeMoodState">
      <soap:operation soapAction="http://tempuri.org/IGameWebService/changeMoodState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doNegociationGameComplete">
      <soap:operation soapAction="http://tempuri.org/IGameWebService/doNegociationGameComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameWebService">
    <wsdl:port name="BasicHttpBinding_IGameWebService" binding="tns:BasicHttpBinding_IGameWebService">
      <soap:address location="http://wvm023.dei.isep.ipp.pt/GameWS/GameWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>